<IfModule pagespeed_module>
	Modpagespeed Off
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /index.php?redirect_url=$1 [QSA]

