.both {
	clear: both ;
}
.nod {
	display: none !important ;
}
.overlay {
	margin: 20px ;
}
.form-auth label {
	display: block ;
}
.form-auth label span ,
.form-auth label input {
	display: block ;
	float: left ;
}
.form-auth label span {
	width: 100px ;
}
.error {
	color: red ;
}
.form-account-history-id:after {
	content: "." ;
}
.form-account-history-amount {
	font-weight: bold ;
}
.account_history-debet .form-account-history-amount {
	color: red ;
}
.account_history-credit .form-account-history-amount {
	color: darkgreen ;
}
.account_history-debet .form-account-history-amount:before {
	content: "-" ;
}
.account_history-credit .form-account-history-amount:before {
	content: "+" ;
}
.form-account-history-list > li {
	list-style-type: none ;
}
.form-account-history-list > li > span {
	user-select: all ;
}